* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #3b3936;
  color: #f2f2f2;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 0.8rem;
  width: 100%;
  height: 50px;
  color: #f23d3d;
  border-bottom: 1px solid #545150;
  display: flex;
  justify-content: center;
  align-items: center;
}